{% load static %}
{% load widget_tweaks %}

<script src="{% static 'beauty/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'beauty/js/jquery-ui.js' %}"></script>
<script src="{% static 'beauty/js/popper.min.js' %}"></script>
<script src="{% static 'beauty/js/bootstrap.min.js' %}"></script>
<script src="{% static 'beauty/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'beauty/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'beauty/js/aos.js' %}"></script>
<script src="{% static 'beauty/js/main.js' %}"></script>
<script src="{% static 'beauty/js/header.js' %}"></script>

