{% load static %}
{% load widget_tweaks %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
<link rel="stylesheet" href="{% static 'beauty/fonts/icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/jquery-ui.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/aos.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/style.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/header.css' %}">
<link rel="stylesheet" href="{% static 'beauty/css/footer.css' %}">



